* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    width: 100%;
    background-color: rgb(41, 41, 151);
    display: flex;
}

header h1 {
    padding: 10px;
    font-weight: normal;
    font-size: 24px;
    flex-grow: 1;
    color: white;
}

header nav {
    flex-grow: 1;
    text-align: end;
}

.button {
    padding: 20px 40px;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: rgb(41, 41, 151);
}

.button:hover {
    cursor: pointer;
    background-color: rgb(24, 24, 100);
}

.canvas-container {
    display: flex;
    height: 70vh;
}

.canvas-container-item {
    flex-grow: 1;
    margin: 20px;
    border: 2px solid #cccccc;
    overflow: scroll;
}

.canvas-2d-container {
    max-width: 50%;
    background-color: cornflowerblue;
}

.controls {
    display: flex;
    margin: 0px 20px;
}

.controls > div {
    margin: 10px 20px;
}

.title {
    font-weight: normal;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 24px;
}

.controls .button {
    padding: 10px 20px;
}

select {
    padding: 10px;
    border: 1px solid #cccccc;
}

.step {
    display: inline-block;
    padding: 10px;
    background-color: #dddddd;
}

.step:hover {
    cursor: pointer;
}

.not-allow-step {
    color: #eeeeee;
}

.current {
    background-color: rgb(115, 115, 196);
}

.modal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 128);
    opacity: 0.9;
    display: none;
}

.modal-content {
    transform: translate(50%, 50%);
    width: 50%;
    height: 50%;
    background-color: #ffffff; 
    text-align: center;
    vertical-align: center;
    transition: 0.4s;
}

.modal-content .button {
    background-color: rgb(41, 41, 151);
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    display: inline-block;
}

.modal-content input {
    width: 80%;
    margin: 20px;
    padding: 16px;
    border: none;
    border-bottom: 2px solid rgb(24, 24, 100);
}

.modal-content h1 {
    padding: 20px;
    border: none;
    border-bottom: 2px solid rgb(41, 41, 151);
    outline: none;
    background-color: rgb(24, 24, 100);
    color: white;
}

.modal-content p {
    padding-top: 20px;
}